@using ListaTelefonicaIACOApp.ViewModels
@model ContatoIndexViewModel

@{
    ViewData["Title"] = "Agenda Telefônica - IACO";
}


<body>

    <header style="min-width: 500px;" class="d-flex gap-3 
        justify-content-end 
        align-items-center"
    >
         
        <div class="d-flex justify-content-center" style="height: 70px; width: 70px; 
                background-color: #f9f9f9;  border-radius: 5px;"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar Contato"
                >
            <a  class="d-flex justify-content-center align-items-center" asp-action="Create">
                <i style="font-size:40px" class="bi bi-person-plus text-dark icon-add-colaborador"> </i>
            </a>
        </div>
       
    </header>

    <div style="background-color: #f9f9f9; padding:20px; height:500px; min-width:500px" class="p-4 rounded-3">
        <form id="formFiltro" asp-action="FiltrarPorColaboradores" method="post" class="d-flex row g-3 p-3 flex-column justify-content-center" style="min-width:500px">
            <div class="d-flex flex-column w-100 col-auto m-0" style="padding:10px; gap:30px">
                <h1 class="col-auto border-1 border-bottom m-0">Filtros</h1>
                <div style="gap:20px" class="row">


                    <div style="height:300px" class="row overflow-auto col-12 w-50 d-flex gap-2 gap-md-3 col-auto flex-row align-items-lg-center justify-content-sm-center">
                        <div style="gap:20px" class="row h-100">
                            <div style="height:40px; background-color:#FFFFFF; border-radius:5px" class="position-sticky top-0">
                                <h5 style="padding:5px; border-radius:5px" class="d-flex align-items-center col-auto m-0 h-100">Dados Pessoais</h5>
                            </div>
                            <div class="d-flex gap-2 flex-column col-sm-12 col-md-4 campos-filtros">
                                <label asp-for="Contato_Nome" class="">Nome</label>
                                <input asp-for="Contato_Nome" type="text" class="form-control" id="Nome" placeholder="Ex: Ana">
                            </div>

                            <div class="d-flex gap-2 flex-column col-sm-12 col-md-4 campos-filtros">
                                <label asp-for="Contato_Sobrenome" class="">Sobrenome</label>
                                <input asp-for="Contato_Sobrenome" type="text" class="form-control" id="Sobrenome" placeholder="Ex: Clara">
                            </div>

                            <div class="d-flex gap-2 flex-column col-sm-12 col-md-4 campos-filtros">
                                <label asp-for="Contato_Fixo" class="">Fixo</label>
                                <input asp-for="Contato_Fixo" type="tel" class="form-control telefone-fixo" id="Fixo" placeholder="Ex: 11 2345-6789  ">
                            </div>

                            <div class="d-flex gap-2 flex-column col-sm-12 col-md-4 campos-filtros">
                                <label asp-for="Contato_Celular" class="">Celular</label>
                                <input asp-for="Contato_Celular" type="tel" class="form-control telefone-celular" id="Celular" placeholder="Ex: 11 998877665">  
                            </div>
                            <div class="d-flex gap-2 flex-column col-sm-12 col-md-4 campos-filtros">
                                <label asp-for="Contato_Comercial" class="">Comercial</label>
                                <input asp-for="Contato_Comercial" type="tel" class="form-control telefone-comercial" id="Comercial" placeholder="Ex: 61 3030-4040">
                            </div>   
                             <div class="d-flex gap-2 flex-column col-sm-12 col-md-12 campos-filtros">
                                <label asp-for="Contato_Email" class="">Email</label>
                                <input asp-for="Contato_Email" type="email" class="form-control" id="Email" placeholder="Ex: colaborador@iaco.com">        
                            </div>
                        </div>   
                    </div>

                    <div style="height:300px" class="row col-12 w-50 d-flex gap-2 gap-md-3 flex-row align-items-lg-center justify-content-sm-center overflow-auto">        
                
                        <div style="gap:20px" class="row h-100 align-self-start">
                            <div style="height:40px; background-color:#FFFFFF; border-radius: 5px" class="position-sticky d-flex w-100 top-0">
                                <h5 style="padding:5px" class="d-flex align-items-center col-auto m-0 w-100 h-100">Endereço</h5>
                            </div>
                            <div class="d-flex gap-2 flex-column col-md-4 campos-filtros">
                                <label asp-for="Endereco.Endereco_Rua" class="d-flex justify-content-between"></label>
                                <input asp-for="Endereco.Endereco_Rua" type="text" class="form-control" id="Rua" placeholder="Ex: Centro">
                            </div>
                            <div class="d-flex gap-2 flex-column col-md-6 campos-filtros">
                                <label asp-for="Endereco.Endereco_Bairro" class="d-flex justify-content-between"></label>
                                <input asp-for="Endereco.Endereco_Bairro" type="text" class="form-control" id="Bairro" placeholder="Ex: Centro"> 
                            </div>
                           
                            <div class="d-flex gap-2 flex-column col-md-6 campos-filtros">
                                <label asp-for="Endereco.Endereco_Cidade" class="form-label">Selecionar a cidade</label>
                                <select id="Cidade" asp-for="Endereco.Endereco_Cidade" class="form-select" aria-label="Selecionar cidade">
                                    <option selected value="">Escolha uma cidade</option> <!-- Valor em branco para seleção inicial -->
                                    <option value="CostaRica">Costa Rica</option>
                                    <option value="ChapadaoDoSul">Chapadao do Sul</option>
                                    <option value="ParaisodasAguas">Paraiso das Aguas</option>
                                </select>
                            </div>
                        </div>

                    </div>

                   
                    <div style="height:50px" class="d-flex w-100 justify-content-end gap-4 align-items-center col-auto">
                        <button
                                id="btnLimparFiltros"
                                style=""
                                type="submit"
                                class="btn btn-secondary col-auto h-75">Limpar Filtros
                        </button>

                        <button
                            
                                id="btnFiltrar"
                                style=""
                                type="submit"
                                class="btn btn-primary col-auto h-75">Buscar
                        </button>
                    </div>
                           
              
                </div>
                
                
            </div>
        </form>
    </div>
    

   
    @if (Model != null && Model.Contatos.Any())
    {
        <div id="spinner-loading" class="text-center py-4" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
        <div style="height:500px; min-width:500px" class="table-responsive">
            <table id="table" class="table table-hover table-borderless m-0 h-75 tabela-contatos">
                
                <thead class="table-light position-sticky top-0" style="min-height:60px">
                    <tr>
                        <th style="font-size:16px; min-width:120px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Nome)</th>
                        <th style="font-size:16px; min-width:120px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Sobrenome)</th>
                        <th style="font-size:16px; min-width:100px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Fixo)</th>
                        <th style="font-size:16px; min-width:100px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Celular)</th>
                        <th style="font-size:16px; min-width:100px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Comercial)</th>
                        <th style="font-size:16px; min-width:180px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Email)</th>
                        <th style="font-size:16px; min-width:180px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_CriadoAs)</th>
                        <th style="font-size:16px; min-width:180px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_EditadoAs)</th>

                        <th style="font-size:16px; min-width:140px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Rua)</th>
                        <th style="font-size:16px; min-width:80px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Numero)</th>
                        <th style="font-size:16px; min-width:120px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Bairro)</th>
                        <th style="font-size:16px; min-width:140px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Cidade)</th>
                        <th style="font-size:16px; min-width:160px; min-height:60px" class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Complemento)</th>

              
                        <th style="min-width:50px; min-height:60px"></th>
                        <th style="min-width:50px; min-height:60px"></th>
                        <th style="min-width:50px; min-height:60px"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Contatos)
                    {
                        <tr style="height:60px">
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Nome)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Sobrenome)</td>

                            <td class="text-nowrap" style="min-width:180px; min-height:60px">
                             <input type="text" value="@item.Contato_Fixo" class="form-control telefone-fixo input-sem-borda" readonly />
                            </td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">
                             <input type="text" value="@item.Contato_Celular" class="form-control telefone-celular input-sem-borda" readonly />
                            </td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">
                             <input type="text" value="@item.Contato_Comercial" class="form-control telefone-comercial input-sem-borda" readonly />
                            </td>
                            @{
                                /* 
                                   <td class="text-nowrap" style="min-width:100px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Fixo)</td>
                                    <td class="text-nowrap" style="min-width:100px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Celular)</td>
                                    <td class="text-nowrap" style="min-width:100px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Comercial)</td>
                                 
                                 */
                            }
                           
                            
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_Email)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_CriadoAs)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Contato_EditadoAs)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Rua)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Numero)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Bairro)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Cidade)</td>
                            <td class="text-nowrap" style="min-width:180px; min-height:60px">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Complemento)</td>

                            
                            <td style="width:50px; height:60px" class="text-nowrap">
                                <a asp-action="Edit" asp-route-id="@item.Contato_Id"><i class="bi bi-pencil-square text-dark"></i></a>
                            </td>
                            <td style="width:50px; height:60px" class="text-nowrap">
                                <a asp-action="Details" asp-route-id="@item.Contato_Id"><i class="bi bi-eye text-dark"></i></a>
                            </td>
                            <td style="width:50px; height:60px" class="text-nowrap">
                                <a asp-action="Delete" asp-route-id="@item.Contato_Id"><i class="bi bi-trash text-dark"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="mensagem-nenhum-contato" class="text-center py-4 d-none">
                <p class="fw-bold fs-4">Nenhum contato foi encontrado.</p>
            </div>
        </div>
        

    }
    <div style="height: 60px; min-width: 500px;" class="d-flex col-auto justify-content-end align-items-center">
        <nav class="" aria-label="Paginação">
            <ul class="pagination mb-0">


                @if (ViewBag.PaginaAtual > 1)
                {

                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.PaginaAtual - 1)">Anterior</a>
                    </li>

                }else{
                      <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Anterior</a>
                       </li>
                }

                 
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.PaginaAtual)">@(ViewBag.PaginaAtual)</a>
                </li>
                        
                   
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)">de</a>
                </li> 
                        
                   
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.totalPaginas)">@(ViewBag.totalPaginas)</a>
                </li>
                

                @if (ViewBag.PaginaAtual < ViewBag.TotalPaginas)
                {


                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.PaginaAtual + 1)">Próximo</a>
                    </li>

                }else{
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Próximo</a>
                    </li>}

            </ul>
        </nav>

    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $(document).on('click', '.pagination .page-link, #btnLimparFiltros', function (e) {
            e.preventDefault();

            //limpando todos os campos de filtro
            $('#formFiltro').find('input, select').each(function () {
                $(this).val('');
            });

            let pagina = $(this).data('pagina');

            carregarEnderecos(pagina);
        });

    }); 

    // ✅ Carrega automaticamente a página 1 ao abrir
    carregarEnderecos(1);

    function carregarEnderecos(pagina){
        $.ajax({
            url: '/Contato/ObterContatosPaginados',
            method: 'GET',
            data: { paginaAtual: pagina },
            success: function (response) {
                $('.table-responsive').css('height','500px');
                $('#table tbody').html(response.html);
                $('#table').show();
                $('#mensagem-nenhum-contato')[0].style.setProperty('display', 'block', 'important');
                $('#mensagem-nenhum-contato').hide();
                   
                $('.pagination').show(); // Mostra a paginacao

                    // AQUI: Reaplicando máscaras após o novo conteúdo ser injetado
                    aplicarMascaras();
                    gerarPaginacao(response.paginaAtual, response.totalPaginas);

            },
            error: function () {
                alert('Erro ao carregar os dados.');
            },
               
        });
    }

    </script>

   <script>
    $(document).ready(function () {
        $('#btnFiltrar').on('click', function (e) {
            e.preventDefault(); // impede envio padrão do formulário

            //usando 'cleanVal' para obter o valor do input sem máscara
            const params = {
                Nome: $('#Nome').val(),
                Sobrenome: $('#Sobrenome').val(),
                Fixo: $('#Fixo').cleanVal(),
                Celular: $('#Celular').cleanVal(),
                Comercial: $('#Comercial').cleanVal(),
                Email: $('#Email').val(),
                Rua: $('#Rua').val(),
                Bairro: $('#Bairro').val(),
                Cidade: $('#Cidade').val()
            };

            //montando a querystring
            const queryString = Object.keys(params)
                .map(k => `${k}=${encodeURIComponent(params[k])}`)
                .join('&');

            $.ajax({
                type: "GET",
                url: `/Contato/ObterContatosFiltrados?${queryString}`,
                beforeSend: function () {
                    $('#spinner-loading').show();         // Mostra o spinner
                    $('#table').hide();                  // Esconde tabela enquanto carrega
                    $('#mensagem-nenhum-contato').hide(); // Garante que mensagem esteja oculta durante o carregamento
                },
                success: function (response) {
                    if (!response.encontrou) {
                        $('#table').hide();
                        $('.table-responsive').css('height','100px')
                        $('#mensagem-nenhum-contato')[0].style.setProperty('display', 'block', 'important');
                        $('.pagination').hide(); // Oculta a paginação
                    } else {
                        $('#mensagem-nenhum-contato').hide();
                        $('.table-responsive').css('height','500px')
                        $('#table tbody').html(response.html);
                        $('#table').show();
                        $('.pagination').show(); // Mostra a paginação novamente se necessário


                        // AQUI: Reaplicando máscaras após o novo conteúdo ser injetado
                       aplicarMascaras();
                       gerarPaginacao(response.paginaAtual, response.totalPaginas);

                    }
                },
                error: function (xhr) {
                    console.error("Erro:", xhr.responseText);
                },
                complete: function () {
                    $('#spinner-loading').hide(); // Oculta o spinner após conclusão
                }
            });
        });
    });
</script>

}