@using ListaTelefonicaIACOApp.ViewModels
@model ContatoIndexViewModel

@{
    ViewData["Title"] = "Agenda Telefônica - IACO";
}


<body>

    <header class="d-flex gap-3 
        justify-content-end 
        align-items-center"
    >
         
        <div class="d-flex justify-content-center" style="height: 70px; width: 70px; 
                background-color: #f9f9f9;  border-radius: 5px;"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar Contato"
                >
            <a  class="d-flex justify-content-center align-items-center" asp-action="Create">
                <i class="bi bi-person-plus text-dark icon-add-colaborador"> </i>
            </a>
        </div>
       




    </header>
    <div style="background-color: #f9f9f9; padding:20px; height:500px" class="p-4 rounded-3">
        <form id="formFiltro" asp-action="FiltrarPorColaboradores" method="post" class="d-flex row g-3 p-3 flex-column justify-content-center" style="height:500px">
            <div class="d-flex flex-column w-100 col-auto gap-3 m-0" style="padding:10px">
                <h2 class="col-auto border-1 border-bottom m-0">Filtros</h2>

                <div style="height:300px" class="row d-flex gap-2 gap-md-3 col-auto flex-row align-items-lg-center justify-content-sm-center overflow-auto">
                   

                   
                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Nome" class="">Nome</label>
                        <input asp-for="Contato_Nome" type="text" class="form-control" id="Nome" placeholder="Ex: Ana">
                        <div id="erro" class="fs-12px">
                            <span asp-validation-for="Contato_Nome" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Sobrenome" class="">Sobrenome</label>
                        <input asp-for="Contato_Sobrenome" type="text" class="form-control" id="Sobrenome" placeholder="Ex: Clara">
                        <div id="erro" class="fs-12px">
                            <span asp-validation-for="Contato_Sobrenome" class="text-danger"></span>
                        </div>
                    </div>

                     <div class="col-md-6 d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Email" class="">Email</label>
                        <input asp-for="Contato_Email" type="email" class="form-control" id="Email" placeholder="Ex: colaborador@iaco.com">
                        <div class="fs-12px">
                            <span asp-validation-for="Contato_Email" class="text-danger"></span>
                        </div>           
                    </div>
       
                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Fixo" class="">Fixo</label>
                        <input asp-for="Contato_Fixo" type="tel" class="form-control telefone-fixo" id="Fixo" placeholder="Ex: 11 2345-6789  ">
                        <div class="fs-12px">
                            <span asp-validation-for="Contato_Fixo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Celular" class="">Celular</label>
                        <input asp-for="Contato_Celular" type="tel" class="form-control telefone-celular" id="Celular" placeholder="Ex: 11 998877665">
                        <div class="fs-12px">
                            <span asp-validation-for="Contato_Celular" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 campos-filtros">
                        <label asp-for="Contato_Comercial" class="">Comercial</label>
                        <input asp-for="Contato_Comercial" type="tel" class="form-control telefone-comercial" id="Comercial" placeholder="Ex: 61 3030-4040">
                        <div class="fs-12px">
                            <span asp-validation-for="Contato_Comercial" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 col-xl-8 campos-filtros">
                        <label asp-for="Endereco.Endereco_Rua" class="d-flex justify-content-between"></label>
                        <input asp-for="Endereco.Endereco_Rua" type="text" class="form-control" id="Endereco" placeholder="Ex: Centro">
                        <div class="fs-12px">
                            <span asp-validation-for="Endereco.Endereco_Rua" class="text-danger"></span>
                        </div> 
                    </div>
                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 col-xl-8 campos-filtros">
                        <label asp-for="Endereco.Endereco_Bairro" class="d-flex justify-content-between"></label>
                        <input asp-for="Endereco.Endereco_Bairro" type="text" class="form-control" id="Endereco" placeholder="Ex: Centro">
                        <div class="fs-12px">
                            <span asp-validation-for="Endereco.Endereco_Bairro" class="text-danger"></span>
                        </div> 
                    </div>
                    <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 col-xl-8 campos-filtros">
                        <label asp-for="Endereco.Endereco_Cidade" class="d-flex justify-content-between"></label>
                        <input asp-for="Endereco.Endereco_Cidade" type="text" class="form-control" id="Endereco" placeholder="Ex: São Paulo">
                        <div class="fs-12px">
                            <span asp-validation-for="Endereco.Endereco_Cidade" class="text-danger"></span>
                        </div> 
                    </div>

                    @{
                        /*
                          <div class="d-flex gap-2 flex-column col-sm-12 col-md-6 col-xl-8 campos-filtros">
                        <label asp-for="Endereco" class="d-flex justify-content-between">
                            <span>Endereco</span>
                            <div>
                                <i title="Ex: Rua das Flores, Centro, São Paulo - SP" class="bi bi-exclamation-circle">
                                    <span class="fs-12px">Dica de preenchimento</span>
                                </i>
                            </div>
                        </label>
                        <input asp-for="Endereco" type="text" class="form-control" id="Endereco" placeholder="Ex: Rua das Flores, Centro, São Paulo - SP">
                        <div class="fs-12px">
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div> 
                    </div>
                          
                         */
                    
                    }

                </div>

                <div style="height:50px" class="d-flex w-100 justify-content-end align-items-center col-auto">
                    <button
                            id="btnFiltrar"
                            style="width:100px"
                            type="submit"
                            class="btn btn-primary h-75">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    

   
    @if (Model != null && Model.Colaboradores.Any())
    {
        <div style="height:500px" class="table-responsive">
            <table id="table" class="table table-hover table-bordered m-0 h-75">
                
                <thead style="height:50px" class="table-light position-sticky top-0">
                    <tr itemscope>
                        @{/*<th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Id)</th>*/}
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Nome)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Sobrenome)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Fixo)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Celular)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Comercial)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Contato_Email)</th>
                        @{/*<th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Id)</th>*/}
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Rua)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Numero)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Bairro)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Cidade)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_CEP)</th>
                        <th class="text-nowrap">@Html.DisplayNameFor(model => model.Endereco.Endereco_Complemento)</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Colaboradores)
                    {
                        <tr>
                            @{/*<td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Id)</td> */}
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Nome)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Sobrenome)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Fixo)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Celular)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Comercial)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Contato_Email)</td>
                            @{/*<td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Id)</td>*/}

                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Rua)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Numero)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Bairro)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Cidade)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_CEP)</td>
                            <td class="text-nowrap">@Html.DisplayFor(modelItem => item.Endereco.Endereco_Complemento)</td>
                            <td style="height: 50px" class="text-nowrap">
                                <a asp-action="Edit" asp-route-id="@item.Contato_Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                    <i class="bi bi-pencil-square text-dark"></i>
                                </a>
                            </td>
                            <td style="height: 50px" class="text-nowrap">
                                <a asp-action="Details" asp-route-id="@item.Contato_Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Detalhes">
                                    <i class="bi bi-eye text-dark"></i>
                                </a>
                            </td>
                            <td style="height: 50px" class="text-nowrap">
                                <a asp-action="Delete" asp-route-id="@item.Contato_Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar">
                                    <i class="bi bi-trash text-dark"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        

    }
    <div style="height: 60px" class="d-flex col-auto justify-content-end align-items-center">
        <nav class="" aria-label="Paginação">
            <ul class="pagination mb-0">


                @if (ViewBag.PaginaAtual > 1)
                {

                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.PaginaAtual - 1)">Anterior</a>
                    </li>

                }else{
                      <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Anterior</a>
                       </li>
                }


                @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
                {
                    <li class="page-item @(i == ViewBag.PaginaAtual ? "active" : "")">
                        <a class="page-link" href="javascript:void(0)" data-pagina="@i">@i</a>

                    </li>
                }

                @if (ViewBag.PaginaAtual < ViewBag.TotalPaginas)
                {


                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" data-pagina="@(ViewBag.PaginaAtual + 1)">Próximo</a>
                    </li>

                }else{
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Próximo</a>
                    </li>}

            </ul>
        </nav>

    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $(document).on('click', '.pagination .page-link', function (e) {
            e.preventDefault();

            let pagina = $(this).data('pagina');

            $.ajax({
                url: '/Contato/ObterColaboradoresPaginados',
                method: 'GET',
                data: { paginaAtual: pagina },
                success: function (response) {
                    $('#table tbody').html(response.html);

                    let paginacaoHtml = '';

                    if (response.paginaAtual > 1) {
                        paginacaoHtml += `
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" data-pagina="${response.paginaAtual - 1}">Anterior</a>
                            </li>`;
                    }
                    else{
                        paginacaoHtml += `
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)">Anterior</a>
                            </li>`;
                    }

                    for (let i = 1; i <= response.totalPaginas; i++) {
                        let activeClass = (i === response.paginaAtual) ? 'active' : '';
                        paginacaoHtml += `
                            <li class="page-item ${activeClass}">
                                <a class="page-link" href="javascript:void(0)" data-pagina="${i}">${i}</a>
                            </li>`;
                    }

                    if (response.paginaAtual < response.totalPaginas) {
                        paginacaoHtml += `
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" data-pagina="${response.paginaAtual + 1}">Próximo</a>
                            </li>`;
                    }
                    else{
                        paginacaoHtml += `
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)">Próximo</a>
                            </li>`;
                    }

                    $('.pagination').html(paginacaoHtml);
                },
                error: function () {
                    alert('Erro ao carregar os dados.');
                }
            });
        });

        });
    </script>


}