@model List<Colaborador>

<div class="table-responsive shadow-sm rounded-3 p-2">
    <table class="table table-hover table-striped table-bordered align-middle m-0">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Nome)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Fixo)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Celular)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Comercial)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Endereco)
                </th>
                <th scope="col" class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                </th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Fixo)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Comercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info" title="Ver detalhes">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger" title="Deletar">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>